language: ruby
rvm:
  - 2.4.1
services:
	- postgresql
addons:
  postgresql: "9.6"
before_script:
  - psql -c 'create database travis_ci_test;' -U postgres
  # - cp config/database.yml.travis config/database.yml

test:
  script:
  	- rails test test/models
