<%= simple_form_for(@order) do |f| %>
    <%= f.error_notification %>
    <div class="row">
        <div class="form-inputs">
            <%= f.input :teacher_id, collection: Teacher.alphabetical.to_a, include_blank: true %>
            <% for item in @items%>

            <%end%>
        </div>
    </div>

<div class="row">
    <div class="form-actions col s8">
        <%= f.button :submit %>
    </div>
</div>
<% end %>