<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5>DataCat</h5>
        <p>Everything we do is about putting basic school supplies in the hands of kids who need them, and making sure they’re equipped and empowered to learn, dream and strive for a brighter future.</p>
        <p class="by_TEP">- The Education Partnership</p>

      </div>
      <div class="col l4 offset-l2 s12">
        <% if logged_in? && (current_user.role?(:admin) || current_user.role?(:manager)) %>
          <p class="header"> Links to Other Pages</p>
          <ul>
            <li><%= link_to 'Teachers', teachers_path, :class => current_class?(teachers_path) %></li>
            <li><%= link_to 'Schools', schools_path, :class => current_class?(schools_path) %></li>
            <li><%= link_to 'Users', users_path, :class => current_class?(users_path) %></li>
            <li><%= link_to 'Items', items_path, :class => current_class?(items_path) %></li>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="black-text container">
    © 2017 Stephanie Pang, Alina Yu, Shirley Zhou
    </div>
  </div>
</footer>