<nav id="nav">
  <div class="container">
    <ul class="left hide-on-med-and-down">
      <li><%= link_to 'Transactions', transaction_path %></li>
      <li><%= link_to 'Teacher Shopping Form', new_transaction_path %></li>
    </ul>
  </div>
</nav>