<nav id="nav">
  <div class="container">
    <ul class="left hide-on-med-and-down">
      <li><%= link_to 'Orders', orders_path %></li>
      <li><%= link_to 'Teacher Shopping Form', new_order_path %></li>
    </ul>
  </div>
</nav>