<div class="card">
  <div class="card-content">
    <% if logged_in? %>
        <div class="card-title">Welcome, <%= current_user.full_name %>!</div>
    <% else %>
        <div class="card-title">Welcome!</div>
    <% end %>
            <blockquote>DataCat is a system that allows for quick and easy data input into Salesforce. 
            When teachers checkout after their shopping appointment, the information can be immediately entered into our system through a simple form.
            From there, the information can be reviewed by an administrator and pushed to Salesforce to ensure data integrity and quality.</blockquote>
      </div>
</div>