<div class="card">
  <div class="card-content">
    <div class="card-title">Welcome, User!</div>
    <blockquote>DataCat is a system that allows for quick and easy data input into Salesforce. 
    When teachers checkout after their shopping appointment, the information can be immediately entered into our system through a simple form.
    From there, the information can be reviewed by an administrator and pushed to Salesforce to ensure data integrity and quality.</blockquote>
  </div>
</div>