<div class="fields">
    <div class="min_task">
            
            <%= f.input :name, label: "Item", input_html: { class: "items"}%>
            <%= f.input :max_packs, label: "maximum packs", input_html: { class: "items"} %>
            <%= f.input :qty_per_unit, label: "Quantity per unit" %>
            <%= f.input :active, label: "Active?" %>

    </div>
</div>