<div class="card">
  <div class="card-content">
    <h5>Order information for order on <%= @order.created_at%></h5><br />

    <b>Teacher Name:&nbsp;&nbsp;</b>
      <%= link_to @order.teacher.name %><br /><br />

  </div>
</div>