<div class="card">
  <div class="card-content">
    <h1>All Teacher POS Transactions</h1>
    <% if @orders.empty? %>
      <p>No POS transactions in the system right now</p>
    <% else %>
      <% if current_user.role=="admin" %>
        <%= link_to 'Export POS transactions as CSV', orders_path(format: :csv), class: "btn" %>
      <%end%>
      <%= render :partial => "order_table"%>
    <% end %>
  </div>
</div>

