<div class="card">
  <div class="card-content">
    <h1>All Teacher Orders</h1>
    <% if @orders.empty? %>
      <p>No orders in the system right now :(</p>
    <% else %>
      <%= link_to 'Export orders as CSV', orders_path(format: :csv), class: "waves-effect waves-light btn" %>
      <%= render :partial => "order_table"%>
    <% end %>
  </div>
</div>

