<div class="card">
    <div class="card-content">
        <h1>All Unreviewed Orders</h1>
        <% if @orders.empty? %>
            <p>No Incoming POS transactions to review. All synced transactions should show up in Salesforce within the next two minutes of syncing. If not, you may have to export as csv and upload the ones that don't appear to be in Salesforce.</p>
        <% else %>
            <%= button_to( "Upload to Salesforce", upload_path(@orders), :method => :patch, class: 'btn') %>
            <br/>
            <p><i>Click on quantity to edit the numbers.</i></p>
            <%= render :partial => "order_table"%>
        <% end %>
    </div>
</div>