<h1>All Unreviewed Orders</h1>
<% if @orders.empty? %>
    <p>No orders to review</p>
<% else %>
    <%= link_to( "Upload to Salesforce", upload_path(@orders), :method => :patch) %>
    <%= render :partial => "order_table"%>
<% end %>