<div class="card">
  <div class="card-content">
    <span class="card-title">Teachers</span>
    <table class="highlight">
      <thead>
        <th>Name</th>
      </thead>
        <% for teacher in @teachers %>
          <tr>
            <td><%= link_to teacher.name, teachers_path(teacher) %></td>
          </tr>
        <% end %>
      <%= will_paginate @teachers, previous_label: "Previous&nbsp;", next_label: "&nbsp;Next" %>
    </table>
  </div>
</div>