<div class="card">
  <div class="card-content">
    <h5>School Information for <%= @school.name %></h5><br />

    <b>Name:&nbsp;&nbsp;</b>
      <%= link_to @school.name %><br /><br />

    <b>Phone:&nbsp;&nbsp;</b>
      <%= @school.phone %><br /><br />
  </div>
</div>