<div class="card">
  <div class="card-content">
    <h5>Information about <%= @school.name %></h5><br />

    <b>Name:&nbsp;&nbsp;</b>
      <%= @school.name %><br />

    <b>Phone:&nbsp;&nbsp;</b>
      <%= @school.phone %><br />
  </div>
</div>
