
<h1>Transactions#index</h1>

<table class="striped highlight"> 
    <thead>
        <th>Name</th>
        <th>School</th>
        <th>Shopping Date</th>
        <th>Item</th>
        <th>Quantity</th>
        <th>Semester</th>
        <th>Date Entered</th>
    </thead>
    <% for transaction in @transactions %>
        <tr>

        </tr>
    <% end %>

</table>



